/bin/
/target/
*/target/
/.settings/
/.idea/
/.m2/
code_review/
.classpath
.project

MMOItems.eml
MMOItems.iml
MMOItems-API.eml
MMOItems-API.iml
MMOItems-Dist.eml
MMOItems-Dist.iml
MMOItems-Paper.iml

.flattened-pom.xml
dependency-reduced-pom.xml

local_install.bat
local_install.sh

EraUpgrade（元年强化）插件策划案v1.1.md
UPGRADE_COMMAND_GUIDE.md
UPGRADE_EXTENSION_GUIDE.md
UPGRADE_PENALTY_DESIGN.md